@charset "utf-8";

@include pc {};
@include sp {};

.l-container {
    display: flex;
    margin: 0 auto;
    @include pc {
        width: 1200px;
        margin-top: 40px;
    };
    @include sp {
        width: 95%;
        margin-top: 20px;
    };

    &__main {
        margin: 0 auto;
        background: #fff;
        @include pc {
            width: 585px;
        };
        @include sp {
            width: 100%;
        };
        &-mypage {
            height: 100vh;
            margin: 0 20px;
            background: #fff;
            @include pc {
                width: 500px;
            };
            @include sp {};
        }
    }
}
